{% extends 'music/base.html' %}
{% load static %}

{% block title %}
    {{ album.album_title }}
{% endblock %}

{% block content %}

    {% if album %}
        <h3>Details of this album are:</h3>
{#        {% if album.album_logo %}#}
{#            <img src="{{ album.album_logo.url }}" class="img-responsive" width="150"/>#}
{#        {% endif %}#}

        <img src="{{ album.album_logo.url }}" class="img-responsive" width="100"/>
        <p><strong>Artist:</strong> {{ album.artist }}</p>
        <p><strong>Title:</strong> {{ album.album_title }}</p>
    {% endif %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

{% endblock %}